.search-bar-container {
    display: flex;
}

.magnifying-glass-icon {
    height: 20px;
    // width: 5px;
    display: flex;
}

.navbar-search-item {
    display: flex;
    flex-grow: 1;
    width: 430px;
    padding: 12px 20px;
    margin: 0 0 0 10px;
    box-sizing: border-box;
    border: 1.1px solid black;
    font-size: 15px;
}