.magnifying-glass-icon {
    height: 20px;
}

.navbar-search-item {
    width: 430px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1.1px solid black;
    height: 100%;
}