body { 
  padding-top: 40px; 
}

.search-icon {
  height: 15px;
  width: 25px;
  position: relative
}

.global-search-bar {
  position: sticky;
  text-align: left;
  ;
}

.search-icon {
  display: inline-block
}

.global-search {
  display: inline-block;
}

.search-bar-input{
  height: 15px;
  width: 40px;
}

.app-name {
  font-family: "Montserrat";
  font-style: bold;
  font-size: 30px;
}

.explore {
  width: 20px;
}

.display-header {
  /* position: absolute; */
  top: 50px;
}





