.search-icon {
  height: 15px;
  width: 15px;
  position: relative
}

.global-search-bar {
  position: sticky;
  text-align: left;
  ;
}

.search-icon {
  display: inline-block
}

.global-search {
  display: inline-block
}






